* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #004134;
}

/* Header Turn */
.turn {
  color: #f9f9f9;
  font-size: 35px;
  margin-bottom: 10px;
}

/* Game Board */
.board {
  display: flex;
  flex-direction: column;
  margin: 16px;
  background-color: #004134;
  border-radius: 12px;
  border: 1px dotted #f9f9f9;
  box-shadow: 5px 5px 5px #ccc;
}

.row {
  display: flex;
  margin: 5px;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: #f9f9f9;
  border-radius: 50%;
  margin: 8px;
  transition: all 0.5s;
}

/* Announce Winner */
#winner {
  color: #f9f9f9;
  font-size: 25px;
  margin-top: 20px;
}
