* {
  margin: 0;
  font-family: serif;
}

body {
  background-color: thistle;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 0.5rem;
  color: lightcoral;
  text-shadow: 3px 3px 3px white;
  padding: 1rem;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.inputBox input {
  width: 140px;
  height: 30px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px gray;
}

.inputBox input:focus {
  outline: none;
}

.inputBox button {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px gray;
  font-size: 1rem;
}

.inputBox button:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1.2rem;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px gray;
}

.week {
  display: flex;
}

.extra-week {
  display: none;
}

.days,
.dayname {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0.3rem;
  padding: 0;
  transition: all 0.5s ease;
}

.days {
  border-radius: 50%;
}

.offday {
  border-radius: 5px;
  color: #fff !important;
  background-color: lightcoral !important;
}

.days:not(.active):not(:empty):hover {
  padding: 0;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.5;
}

.inactive {
  padding: 0;
  opacity: 0.3;
}

.active {
  color: #fff;
  padding: 0;
  border-radius: 50%;
  background-color: lightcoral;
}

/* Add Holiday */
.holidayBox {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.holidayBox > * {
  margin: 10px;
}

.holidayBox input {
  width: 120px;
  height: 20px;
}

.holidayBox button {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px gray;
  font-size: 1rem;
}
