* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #004134;
}

/* User Choice Container */
.user-choice {
  color: #fff;
  display: flex;
  margin: 10px;
  gap: 5px;
}

.user-choice button {
  width: 80px;
}

/* Result container */
.result-container {
  margin-top: 40px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  border: 1px solid #fff;
}

/* Header / Question and User Input keys */
.header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.header h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px;
}

h1 .ques {
  margin: 12px;
}

.header div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 20px;
}

.header .key {
  color: #004134;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px #ccc;
  border: 1px solid #fff;
}

/* Typing Container */
/* Styling for the keyboard */
.virtual-keyboard {
  color: #fff;
  text-align: center;
}

.material-icons {
  font-size: 26px;
}

@media screen and (max-width: 720px) {
  body {
    height: 120vh;
  }
  .virtual-keyboard {
    text-align: center;
    margin: 0px;
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.keyboard button {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
  border: none;
  display: inline-block;
  margin: 0.3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 5px 5px #ccc;
  transition: all 0.3s linear;
  text-align: center;
}

.btn {
  width: 35px;
  height: 30px;
}

.space {
  width: 50%;
}
