* {
  margin: 0;
  font-family: sans-serif;
}

/* The Whole Game Body */
.gameContainer {
  padding: 10px;
  position: relative;
}

.gameHeader {
  text-align: center;
  margin-top: 30px;
  color: teal;
  padding: 10px;
  font-size: 30px;
  letter-spacing: 5px;
  min-width: 100%;
}

/* Select Game Levels */

.gameLevels {
  text-align: center;
  margin-top: 30px;
  min-width: 100%;
}

.levelSelect {
  font-size: 20px;
  padding: 5px;
  background: teal;
  color: #fff;
}

.gameStartBtn {
  width: 130px;
  padding: 10px;
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
  border: 1px solid teal;
  border-radius: 20px;
}

.activeBtn {
  background-color: teal;
}

.inactiveBtn {
  background-color: teal;
  opacity: 0.7;
}

/* Table | Game View */

.gameBody {
  padding-top: 10px;
  margin: 50px auto;
}

.cell {
  color: #fff;
  width: 50px;
  height: 50px;
  border: 3px solid teal;
  text-align: center;
  padding: 8px;
}
