@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

/* Main Container */
.underwater_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

iframe {
  display: none;
}

/* Header */
.logo {
  float: left;
  padding: 20px;
}
.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.signin {
  float: right;
  padding: 20px;
}

.signin button {
  width: 100px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  color: aqua;
  font-size: 16px;
  border-radius: 20px;
  transition: all 0.5s linear;
}

.signin button:hover {
  background-color: aqua;
  color: #000;
}

/* Content */
.content {
  position: absolute;
  color: aliceblue;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.content [fact] {
  font-size: 22px;
}

.content [title] {
  font-size: 40px;
  letter-spacing: 3px;
}

.content button {
  color: aqua;
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid aqua;
  outline: none;
  background-color: transparent;
  transition: all 0.5s linear;
}

.content button:hover {
  background-color: aqua;
  color: #000;
}

/* Shark */
.fish {
  position: absolute;
}

.shark {
  top: 100px;
  left: -200px;
  height: 100px;
  animation: shark 15s linear infinite;
  animation-delay: 5s;
}

.diver {
  top: -20px;
  width: 100px;
  height: 140px;
  opacity: 1;
  z-index: 1;
  animation: diver 15s linear infinite;
}

.treasure {
  top: 280px;
  right: 220px;
  height: 80px;
  opacity: 0.8;
  animation: bounce 5s linear infinite;
}

.diver2 {
  top: 200px;
  right: 120px;
  height: 120px;
  opacity: 0.7;
  animation: bounce 8s linear infinite;
}

.f1,
.f2,
.f3,
.f4,
.f5,
.f6,
.f7 {
  height: 60px;
}

.gp1 {
  height: 80px;
}

.gp2 {
  height: 200px;
}

.bubble {
  height: 50px;
}

/* Bubble */
.b1 {
  top: 200px;
  left: 400px;
  animation: bubble 12s linear infinite;
}

.b2 {
  top: 300px;
  left: 600px;
  animation: bubble 11s linear infinite;
}

.b3 {
  top: 400px;
  left: 700px;
  animation: bubble 10s linear infinite;
}

.b4 {
  top: 400px;
  left: 1000px;
  animation: bubble 9s linear infinite;
}

.b5 {
  top: 400px;
  right: 100px;
  animation: bubble 8s linear infinite;
}

.b6 {
  top: 500px;
  left: 500px;
  animation: bubble 8s linear infinite;
}

.b7 {
  top: 200px;
  right: 200px;
  animation: bubble 9s linear infinite;
}

.b8 {
  bottom: 100px;
  left: 100px;
  animation: bubble 7s linear infinite;
}

.b9 {
  bottom: 100px;
  right: 400px;
  animation: bubble 11s linear infinite;
}

.b10 {
  top: 200px;
  left: 150px;
  animation: bubble 5s linear infinite;
}

.b11 {
  top: 150px;
  left: 700px;
  animation: bubble 11s linear infinite;
}

.b12 {
  bottom: 70px;
  left: 270px;
  animation: bubble 9s linear infinite;
}

.b13 {
  bottom: 50px;
  right: 200px;
  animation: bubble 12s linear infinite;
}

.b14 {
  top: 250px;
  right: 400px;
  animation: bubble 8s linear infinite;
}

.b15 {
  right: 50px;
  top: 250px;
  animation: bubble 7s linear infinite;
}

/* Fishes */
.f1 {
  top: 100px;
  right: -300px;
  animation: fish 20s linear infinite;
}

.f7 {
  top: 100px;
  right: -300px;
  animation: fish 20s linear infinite;
  animation-delay: 4s;
}

.f2 {
  top: 220px;
  right: 0;
  animation: fish 14s linear infinite;
}

.f3 {
  top: 300px;
  animation: shark 15s linear infinite;
}

.f4 {
  top: 400px;
  right: -200px;
  animation: fish 10s linear infinite;
  animation-delay: 1.5s;
}

.f5 {
  top: 420px;
  right: -200px;
  animation: fish 10s linear infinite;
  animation-delay: 1s;
}

.f6 {
  top: 450px;
  right: -200px;
  animation: fish 10s linear infinite;
  animation-delay: 1.5s;
}

/* Fish Groups */
.gp1 {
  top: 50px;
  left: -200px;
  animation: shark 15s linear infinite;
}

.gp2 {
  top: 200px;
  left: -200px;
  animation: shark 15s linear infinite;
  animation-delay: 3s;
}

@keyframes shark {
  0% {
    transform: translateY(0);
    left: -20%;
  }
  20% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0);
    left: 100%;
  }
}

@keyframes diver {
  0% {
    transform: translateY(0);
    left: -5%;
  }
  20% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    left: 100%;
  }
}

@keyframes fish {
  0% {
    transform: translateY(0);
    right: -20%;
  }
  30% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
    right: 100%;
  }
}
@keyframes bubble {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes bounce {
  0% {
    tranform: translateY(120px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    tranform: translateY(0);
  }
}
