h1 {
  text-align: center;
}

.headerBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.startBtn {
  width: 300px;
  padding: 8px;

  font-size: 20px;

  border-radius: 40px;
  border: none;
  outline: none;
  margin-left: 30px;

  color: #fff;
}

.stopBtn {
  width: 300px;
  padding: 8px;

  font-size: 20px;

  border-radius: 40px;
  border: none;
  outline: none;
  margin-right: 30px;

  color: #fff;
}

.activeStop {
  background-color: rgba(221, 38, 18);
}

.inactiveStop {
  background-color: gray;
}

.activeStart {
  background-color: rgb(122, 201, 122);
}

.inactiveStart {
  background-color: gray;
}

.mainBrain {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px 40px 60px;
}

.mainBrain fieldset {
  width: 500px;
}

fieldset legend {
  color: red;
}

.q1 {
  color: black;
  font-size: 14px;
}

.arrow {
  color: red;
}

.resultBtn {
  float: right;
  width: 300px;
  height: 30px;

  padding: 5px;
  margin-right: 40px;

  color: #fff;
  background: purple;

  outline: none;
  border: none;
}
